{#
/**
 * @file
 * Default theme implementation for views listing table.
 *
 * Available variables:
 * - headers: Contains table headers.
 * - rows: Contains multiple rows. Each row contains:
 *   - view_name: The human-readable name of the view.
 *   - machine_name: Machine name of the view.
 *   - description: The description of the view.
 *   - displays: List of displays attached to the view.
 *   - operations: List of available operations.
 *
 * @see template_preprocess_views_ui_views_listing_table()
 *
 * @ingroup themeable
 */
#}
<div class="mt-6 first:mt-0">
  <table{{ attributes.addClass('responsive-enabled', 'border-collapse w-full shadow') }}>
    <thead>
      <tr>
        {% for header in headers %}
          <th{{ header.attributes.addClass('table--cell', 'bg-base-100 border dark:border-base-600 font-light text-sm px-4 py-3 text-base-400 dark:text-base-200 text-left whitespace-nowrap') }}>{{ header.data }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody class="bg-white dark:bg-base-800">
      {% for row in rows %}
        <tr{{ row.attributes.addClass('border border-base-100 dark:border-base-700 hover:bg-base-50 transition') }}>
          <td class="p-4 views-ui-view-name td--name">
            <strong data-drupal-selector="views-table-filter-text-source">{{ row.data.view_name.data }}</strong>
          </td>
          <td class="p-4 views-ui-view-machine-name td--min" data-drupal-selector="views-table-filter-text-source">
            {{ row.data.machine_name.data }}
          </td>
          <td class="p-4 views-ui-view-description" data-drupal-selector="views-table-filter-text-source">
            {{ row.data.description.data }}
          </td>
          <td class="p-4 views-ui-view-displays td--min">
            {{ row.data.displays.data }}
          </td>
          <td class="p-4 views-ui-view-operations td--operations">
            {{ row.data.operations.data }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
