{#
/**
 * @file
 * Theme override to display the login page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
  set page_classes = [
    'section',
    'page',
  ]
%}

<div{{ attributes.addClass(page_classes) }}>
  <a id="main-content" tabindex="-1"></a>
  <main class="section main flex items-center justify-center min-h-displace" role="main">
    <div class="max-w-xl border bg-base-0 shadow rounded my-6 w-full p-6 grid grid-cols-1 gap-6">
      {% if logo %}
        <div class="flex flex-col items-center">
          {{ logo }}
        </div>
      {% endif %}
      {% if page.content.front_page_title %}
        {{ page.content.front_page_title|neo_class('text-xl font-bold my-0 text-center') }}
      {% endif %}
      {% if page.content.front_local_tasks %}
        <div class="flex flex-col items-center">
          {{ page.content.front_local_tasks }}
        </div>
      {% endif %}
      {{ page.status }}
      {{ page.content.system_main }}
    </div>
  </main>
</div>{# /.layout-container #}
