{% extends 'input.html.twig' %}

{%
  set classes = [
    'button',
    disabled == 'disabled' ? 'form-disabled',
    disabled ? 'opacity-50 pointer-events-none',
  ]
%}
{% block input %}
  {% if as_input %}
    <input{{ attributes.addClass(classes) }} />{{ children }}
  {% else %}
    <button{{ attributes|without('type').addClass(classes) }} >{% if title %}{{ title }}{% else %}{{ attributes.value }}{% endif %}</button>{{ children }}
  {% endif %}
{% endblock %}
